<h1>Yes, this is the Website</h1>

<pre>
<%= @question %>
</pre>

The ans is:
<p style="backgroundcolor">

<h2>
<%= @answer %>
</h2>
<p>
<%= link_to "Ask another question", ask_path %>
</p>

<p>Now is <%= Time.now %></p>

<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize + " " + member.upcase + " " + member.downcase + " " + member.swapcase %></li>
  <% end %>
</ol>
